.footer {
  display: flex;
  padding: 20px 40px;
}
.a {
  width: 100%;
  position: relative;
  background: #333;
  margin: 0 10px 10px 0;
  padding: 10px 0;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
